# NOTE :: nbproject/ directory is needed for netbeans do not ignore it
# NOTE :: dist directory also in web/... therefore do not ignore dist/
# nbproject/
# dist/

# Ignore classes
*.class
*.DS_Store
