<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>login.html</welcome-file>
        <welcome-file>login.htm</welcome-file>
    </welcome-file-list>
<!--    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.generic.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthFilter_Market</filter-name>
        <filter-class>com.generic.filter.AuthFilter_Permission</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter_Market</filter-name>
        <url-pattern>/marketPanel.jsp</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>com.generic.servlet.AddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketServlet</servlet-name>
        <servlet-class>com.generic.servlet.MarketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.generic.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.generic.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarketServlet</servlet-name>
        <url-pattern>/MarketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
<!--    <error-page>
        <error-code>404</error-code>
        <location>/errorHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorHandler.jsp</location>
    </error-page>-->
    
</web-app>
